{% extends "base.html" %} {% block title %}Student Dashboard{% endblock %} {%
block content %}
<div class="row my-4">
    <div class="col-12">
        <div class="card shadow">
            <div
                class="card-body d-flex justify-content-between align-items-center"
            >
                <h2 class="card-title">Welcome {{ student.name.title() }}</h2>
                <div class="d-flex justify-content-evenly gap-3">
                    <a href="{{ url_for('student.editProfile') }}" class="btn btn-outline-primary"
                        >Edit Pofile</a
                    >
                    <a href="{{ url_for('student.history') }}" class="btn btn-outline-secondary">History</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        <div class="card shadow p-4">
            <div class="card-body">
                <h3 class="mb-3">Organisations</h3>
                <div class="table-responsive">
                    <table class="table table-striped text-center align-middle">
                        <thead>
                            <tr>
                                <th class="col-1">Company ID</th>
                                <th class="col">Company Name</th>
                                <th class="col-3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in regCompanies %}
                            <tr>
                                <td>{{ company.company_id }}</td>
                                <td>{{ company.name }}</td>
                                <td>
                                    <a href="{{ url_for('student.viewCompany', id=company.company_id) }}" class="btn btn-outline-primary"
                                        >View Details</a
                                    >
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-12">
        <div class="card p-4 shadow">
            <div class="card-body">
                <h3 class="caard-title mb-3">Applied Drives</h3>
                <div class="table-responsive">
                    <table class="table table-striped text-center align-middle">
                        <thead>
                            <tr>
                                <th class="col-1">Drive ID</th>
                                <th>Job Title</th>
                                <th>Company</th>
                                <th>Deadline</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for application in appliedDrives %}
                            <tr>
                                <td>{{ application.drive_id }}</td>
                                <td>{{ application.drive.job_title }}</td>
                                <td>{{ application.drive.company.name }}</td>
                                <td>{{ application.drive.deadline }}</td>
                                <td>{{ application.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
