{% extends "base.html" %} {% block title %}Drive {{ drive.drive_id }}{% endblock
%} {% block content %}

<div class="row justify-content-center align-items-center h-100">
    <div class="col-sm-12 col-md-8 col-lg-4">
        <div class="card p-4 shadow">
            <h3 class="mb-4 d-flex justify-content-between">
                <span>Drive Details</span>
                <span class="text-secondary-emphasis"
                    >#{{ drive.drive_id }}</span
                >
            </h3>

            <div class="mb-4">
                <h6 class="text-muted mb-1">Job</h6>
                <p class="fs-5 mb-0">{{ drive.job_title }}</p>
                <p class="text-secondary mb-0">{{ drive.description }}</p>
            </div>

            <div class="mb-4">
                <h6 class="text-muted mb-1">Company</h6>
                <p class="fs-5 mb-0">{{ drive.company.name }}</p>
            </div>

            <div class="mb-4">
                <h6 class="text-muted mb-1">Eligibility</h6>
                <p class="mb-0">{{ drive.eligibility }}</p>
            </div>

            <div class="mb-4">
                <h6 class="text-muted mb-1">Deadline</h6>
                <p class="mb-0 fw-semibold">{{ drive.deadline }}</p>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a
                    class="btn btn-outline-secondary px-4"
                    href="{{ url_for('admin.admin_dashboard') }}"
                >
                    Go Back
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
