{% extends "base.html" %} {% block title %}Company Login{% endblock %} {% block
content %}
<div class="col-md-6 col-lg-4">
    <div class="card shadow p-4">
        <h3 class="text-center mb-3">Company Login</h3>

        <form action="{{ url_for('auth.company_login') }}" method="post">
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="example@xyz.com"
                    required
                />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    placeholder="********"
                    class="form-control"
                    id="password"
                    required
                />
            </div>
            <button type="submit" class="btn btn-primary mb-5 w-100">
                Login
            </button>
            <p class="text-center">
                Do not have an account?
                <a href="{{ url_for('auth.company_register') }}">Register</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
