{% extends "base.html" %} {% block title %}Update Drive{% endblock %} {% block
content %}

<div class="row d-flex justify-content-center h-100 align-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow p-4">
            <h3 class="card-title mb-4">Update Drive</h3>
            <div class="card-body">
                <form
                    action="{{ url_for('company.updateDrive', id=drive.drive_id) }}"
                    method="post"
                >
                    <div class="mb-3">
                        <label for="job_title" class="form-label"
                            >Job Title</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="job_title"
                            id="job_title"
                            placeholder="Software Engineer Intern"
                            value="{{ drive.job_title }}"
                            required
                        />
                    </div>

                    <div class="mb-3">
                        <label for="job_desc" class="form-label"
                            >Job Description</label
                        >
                        <textarea
                            name="job_desc"
                            id="job_desc"
                            cols="30"
                            rows="3"
                            class="form-control"
                            placeholder="Work on backend systems and APIs."
                        >{{ drive.description }}</textarea>
                    </div>

                    <div class="mb-3">
                        <label for="eligibility" class="form-label"
                            >Eligibility Criteria</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="eligibility"
                            id="eligibility"
                            value="{{ drive.eligibility }}"
                            placeholder="Any CS branch, CGPA > 9"
                            required
                        />
                    </div>

                    <div class="mb-5">
                        <label for="deadline" class="form-label"
                            >Application Deadline</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            name="deadline"
                            id="deadline"
                            value="{{ drive.deadline }}"
                            min="{{ date }}"
                            required
                        />
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
