.navbar .danger:hover{
    background-color: red;
    color: white;
}

#themeSwitcher:hover{
    cursor: pointer;
}

.status-history > li:last-child{
    background-color: #0d6efd;
    color: white;
}
.status-history > li{
    border-color: #0d6efd;
}