{% extends "base.html"%}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row mb-5">
    <h1>Placement Portal</h1>
</div>
<div class="row justify-content-center g-4 w-100">

    <div class="col-lg-3 col-md-6">
        <div class="card shadow p-4 text-center py-5">
            <h3 class="mb-5">Admin Login</h3>
            <a href="{{ url_for('auth.admin_login') }}" class="btn btn-primary w-100">
                Login
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card shadow p-4 text-center py-5">
            <h3 class="mb-5">Student Login</h3>
            <a href="{{ url_for('auth.student_login') }}" class="btn btn-primary w-100">
                Login
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card shadow p-4 text-center py-5">
            <h3 class="mb-5">Company Login</h3>
            <a href="{{ url_for('auth.company_login') }}" class="btn btn-primary w-100">
                Login
            </a>
        </div>
    </div>

</div>
{% endblock %}